.postCard{
  width: 379px;
  height: 164px;
  /*background: #F4B371;*/
  color: #AF2C0E;
  margin: 10px auto;
  float: none;
  border-radius: 21px ;
  display: flex;
  flex: 1 1 auto;
}

.card-img-top{
  width: 182px;
  height: 125px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 17px;
}
.title-container{
  width: 130px;
  height: 21px;
  border-radius: 7px ;
  background: #94260d;


}
.card-title{
  font-size:15px;
  color: white;
  margin-left: 10px;
}

.text-container{
  width: 130px;
  height: 90px;
  margin-top: 2px;
  border-radius: 7px ;
  background: white;
}
.card-text{
  margin-top: 1px;
  margin-left: 2px;
  font-size: 7px;
  color: black;
}
.bi{
  padding: 3px;
}
.bi-flag-fill {
margin-left: 36px;
}
