<div class="postCard">
  <img class="shadow-lg card-img-top" src="../../../../assets/img/river.jpg" alt="Card image cap">
  <div class="card-body">
    <div class=" shadow-lg title-container">
    <h5 class="card-title"> River Sounds</h5>
    </div>
    <div class="shadow-lg text-container">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="icons">
    <i class="bi bi-heart-fill"></i>
    <i class="bi bi-chat-dots-fill"></i>
    <i class="bi bi-share-fill"></i>
      <i class="bi bi-flag-fill"></i>

    </div>
    <div class="reportFlag">
    </div>
  </div>

</div>

