<div class="postCard" [ngStyle]="{'background-color':audioPost.theme}">
  <div>
    <i (click)="toRemovePost()" class="fa fa-trash profile-bin" aria-hidden="true"></i>
  </div>
  <div class="profile-post-header">
    <span class="profile-header-pic"> <i class="fa fa-user" aria-hidden="true"></i></span>
    <span class="profile-header-name">user Diary</span>
  </div>

  <div class="card-body">

    <div>
      <img class="card-img-top" src="../../../../assets/img/postsimgs/{{audioPost.img}}">
      <div class="css_animation">
        <div id="soundwavesWrapper" (click)="activateSoundWaves()" class="onClickWrapper">
          <div class="pro-rec1"></div>
          <div class="pro-rec1"></div>
          <div class="pro-rec1"></div>
          <div class="pro-rec1"></div>
          <div class="pro-rec1"></div>
          <div class="pro-rec1"></div>
        </div>
      </div>
    </div>
    <div>
      <h5 class=" shadow-lg title-container card-title"> {{audioPost.title}}</h5>

      <div class="shadow-lg text-container">
        <p class="card-text">{{audioPost.description}}</p>
      </div>
    </div>

  </div>
</div>


