
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fileCard {
    width: 90%;
    height: 164px;
    background-color: #ff7f61 !important;
    margin: 10px auto;
    float: none;
    border-radius: 20px;
    display: flex;
    flex: 1 1 auto;
    box-shadow: rgb(0 0 0 / 35%) 0px -50px 36px -28px inset;
  }
  .editFileCard[_ngcontent-qmo-c18] {
    position: relative;
    top: 49px;
  }



  /* visualizer */
  @keyframes quiet {
    25%{
      transform: scaleY(.6);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.8);
    }
  }

  @keyframes normal {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.6);
    }
  }
  @keyframes loud {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(1.2);
    }
  }
  body{
    display: flex;
    justify-content: center;
    background: black;
    margin: 0;padding: 0;
    align-items: center;
    height: 100vh;
  }

  .boxContainer {
    display: flex;
    justify-content: space-between;
    height: 94px;
    --boxSize: 8px;
    --gutter: 4px;
    left: -39%;
    position: relative;
    bottom: -19%;
    width: 91px;
  }
  .box{
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);
    background: #12E2DC;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }
  i.bi.bi-exclamation-circle-fill {
    font-size: 39px;
    position: relative;
    bottom: 418px;
    right: 172px;
    color:red;
}
  .box1{
    animation-name: quiet;
  }

  .box2{
    animation-name: normal;
  }

  .box3{
    animation-name: quiet;
  }

  .box4{
    animation-name: loud;
  }

  .box5{
    animation-name: quiet;
  }
  button#confirmFile{
    position: relative;
    left: 31%;
    top: 251px;
    background-color: red;
    border-color: red;
    color: white;
    border-radius: 70px;
    width: 130px;
}

  img#audio_clipper {
    position: relative;
    top: -41px;
    width: 90%;
    left: 20px;
}

img#play-btn_new {
  width: 24%;
  position: relative;
  left: 37%;
}




  /* mp3player */


  /**
  **/

  svg.video-overlay-play-button {
    width: 28%;
    position: relative;
    left: 36%;
    top: 172px;
  }
  .editFileCard {
    margin-top: 85px;
  }
  .buttons {
    position: fixed;
    top: 80%;
    left: 34%;
  }
  button#discardFile {
    position: relative;
    right: -17%;
    border-radius: 29%;
    height: 49px;
    top: 290px;
    background: #484848;
    border: #484848;
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
  }
  button#nextFile {
    position: relative;
    left: 44%;
    height: 49px;
    border-radius: 29%;
    width: 77px;
    top: 290px;
    background: white;
    border: white;
    color: black;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;

  }
  i.bi.bi-pause {
    position: fixed;
    bottom: -11%;
    width: 41%;
    height: 55%;
    right: 40px;
    font-size: 121px;
  }
  .css_animation {
    width: 100%;
    margin-top: 30px;
    margin-left: -13px;

  }
  h1#time{
    font-size: 20px;
    color: white;
    position: relative;
    margin-left: 209px;
    top: -88%;
}

h4#modal-basic-title {
  position: relative;
  top: 264%;
  left: 12%;
  color:white;
}

::ng-deep.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #00000087 !important;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  height: 778px;
  border-radius: 50px;
}
button.close {
  color: white;
}
/*
::ng-deep .modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
  position: relative;
  top: 19%;
} */

.btn-edit {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: black;
  letter-spacing: 1px;
  line-height: 15px;
  border: white;
  border-radius: 40px;
  background: white;
  position: center;
  display: inline;
  width: 98px;
  position: relative;
  bottom: 424px;
  left: 44%;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
h1#max_recording_time {
  position: relative;
  font-size: 13px;
  bottom: 486px;
  color: black;
  margin-left: 70px;
}

  .css_animation .wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    /*   padding-top: 78%; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .css_animation .wrapper div {
    display: block;
    width: 15px;
    margin-right: 8px;
    height: 15px;
    border-radius: 20px;
    animation: sound 0ms 1.2s linear infinite alternate;
    transition: height 0.8s;
  }
  .css_animation .wrapper .pro-rec1{
    background: #f9edf6;
  }

  @keyframes sound {
    0% {
      opacity: 0.35;
      height: 5px;
    }
    100% {
      opacity: 1;
      height: 50px;
    }
  }
  .css_animation .wrapper div:nth-of-type(1) {
    /*   height: 2px; */
    animation-duration: 458ms;
  }
  .css_animation .wrapper div:nth-of-type(2) {
    /*   height: 15px; */
    animation-duration: 400ms;
  }
  .css_animation .wrapper div:nth-of-type(3) {
    /*   height: 25px; */
    animation-duration: 427ms;
  }
  .css_animation .wrapper div:nth-of-type(4) {
    /*   height: 30px; */
    animation-duration: 441ms;
  }
  .css_animation .wrapper div:nth-of-type(5) {
    /*   height: 40px; */
    animation-duration: 419ms;
  }
  .css_animation .wrapper div:nth-of-type(6) {
    /*   height: 45px; */
    animation-duration: 487ms;
  }


  /*Onclick sound waves*/
  .css_animation .onClickWrapper {
    position: relative;
    width: 100%;
    height: 100px;
    /*   padding-top: 78%; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .css_animation .onClickWrapper div {
    display: block;
    width: 15px;
    margin-right: 8px;
    height: 15px;
    border-radius: 20px;

  }

  .css_animation .onClickWrapper .pro-rec1{
    background: #f9edf6;
  }

  .css_animation .onClickWrapper div:nth-of-type(1) {
       height: 70px;
  }
  .css_animation .onClickWrapper div:nth-of-type(2) {
       height: 60px;
  }
  .css_animation .onClickWrapper div:nth-of-type(3) {
       height: 50px;
  }
  .css_animation .onClickWrapper div:nth-of-type(4) {
       height: 40px;
  }
  .css_animation .onClickWrapper div:nth-of-type(5) {
       height: 30px;
  }
  .css_animation .onClickWrapper div:nth-of-type(6) {
       height: 20px;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .fileCard {
    width: 379px;
    height: 164px;
    /*background: #F4B371;*/
    background-color: #ff7f61 !important;
    margin: 10px auto;
    float: none;
    border-radius: 23%;
    display: flex;
    flex: 1 1 auto;
    box-shadow: rgb(0 0 0 / 35%) 0px -50px 36px -28px inset;
  }
  .editFileCard[_ngcontent-qmo-c18] {
    position: relative;
    top: 49px;
  }

  /* visualizer */
  @keyframes quiet {
    25%{
      transform: scaleY(.6);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.8);
    }
  }

  @keyframes normal {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.6);
    }
  }
  @keyframes loud {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(1.2);
    }
  }
  body{
    display: flex;
    justify-content: center;
    background: black;
    margin: 0;padding: 0;
    align-items: center;
    height: 100vh;
  }

  .boxContainer {
    display: flex;
    justify-content: space-between;
    height: 94px;
    --boxSize: 8px;
    --gutter: 4px;
    left: -39%;
    position: relative;
    bottom: -19%;
    width: 91px;
  }
  .box{
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);
    background: #12E2DC;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }

  .box1{
    animation-name: quiet;
  }

  .box2{
    animation-name: normal;
  }

  .box3{
    animation-name: quiet;
  }

  .box4{
    animation-name: loud;
  }

  .box5{
    animation-name: quiet;
  }
  button#confirmFile {
    position: relative;
    left: 31%;
    top: 251px;
    background-color: red;
    border-color: red;
    color: white;
    border-radius: 70px;
    width: 130px;
}




  /* mp3player */


  /**
  **/

  svg.video-overlay-play-button {
    width: 28%;
    position: relative;
    left: 36%;
    top: 147px;
  }
  .editFileCard {
    margin-top: 85px;
  }
  .buttons {
    position: fixed;
    top: 80%;
    left: 34%;
  }
  button#discardFile {
    position: relative;
    right: 9%;
    border-radius: 29%;
    height: 49px;
    top: 268px;
    background: #484848;
    border: #484848;
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
  }
  button#nextFile {
    position: relative;
    left: 15%;
    height: 49px;
    border-radius: 29%;
    width: 77px;
    top: 268px;
    background: white;
    border: white;
    color: black;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  }
  i.bi.bi-pause {
    position: fixed;
    bottom: -11%;
    width: 41%;
    height: 51%;
    right: 40px;
    font-size: 121px;
  }
  .css_animation {
    width: 100%;
    margin-top: 30px;
    margin-left: -13px;

  }

  .css_animation .wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    /*   padding-top: 78%; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .css_animation .wrapper div {
    display: block;
    width: 15px;
    margin-right: 8px;
    height: 15px;
    border-radius: 20px;
    animation: sound 0ms 1.2s linear infinite alternate;
    transition: height 0.8s;
  }
  .css_animation .wrapper .pro-rec1{
    background: #f9edf6;
  }

  @keyframes sound {
    0% {
      opacity: 0.35;
      height: 5px;
    }
    100% {
      opacity: 1;
      height: 50px;
    }
  }
  .css_animation .wrapper div:nth-of-type(1) {
    /*   height: 2px; */
    animation-duration: 458ms;
  }
  .css_animation .wrapper div:nth-of-type(2) {
    /*   height: 15px; */
    animation-duration: 400ms;
  }
  .css_animation .wrapper div:nth-of-type(3) {
    /*   height: 25px; */
    animation-duration: 427ms;
  }
  .css_animation .wrapper div:nth-of-type(4) {
    /*   height: 30px; */
    animation-duration: 441ms;
  }
  .css_animation .wrapper div:nth-of-type(5) {
    /*   height: 40px; */
    animation-duration: 419ms;
  }
  .css_animation .wrapper div:nth-of-type(6) {
    /*   height: 45px; */
    animation-duration: 487ms;
  }


  /*Onclick sound waves*/
  .css_animation .onClickWrapper {
    position: relative;
    width: 100%;
    height: 100px;
    /*   padding-top: 78%; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .css_animation .onClickWrapper div {
    display: block;
    width: 15px;
    margin-right: 8px;
    height: 15px;
    border-radius: 20px;

  }

  .css_animation .onClickWrapper .pro-rec1{
    background: #f9edf6;
  }

  .css_animation .onClickWrapper div:nth-of-type(1) {
       height: 70px;
  }
  .css_animation .onClickWrapper div:nth-of-type(2) {
       height: 60px;
  }
  .css_animation .onClickWrapper div:nth-of-type(3) {
       height: 50px;
  }
  .css_animation .onClickWrapper div:nth-of-type(4) {
       height: 40px;
  }
  .css_animation .onClickWrapper div:nth-of-type(5) {
       height: 30px;
  }
  .css_animation .onClickWrapper div:nth-of-type(6) {
       height: 20px;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fileCard {
    width: 379px;
    height: 164px;
    /*background: #F4B371;*/
    background-color: #ff7f61 !important;
    margin: 10px auto;
    float: none;
    border-radius: 23%;
    display: flex;
    flex: 1 1 auto;
    box-shadow: rgb(0 0 0 / 35%) 0px -50px 36px -28px inset;
  }
  .editFileCard[_ngcontent-qmo-c18] {
    position: relative;
    top: 49px;
  }

  /* visualizer */
  @keyframes quiet {
    25%{
      transform: scaleY(.6);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.8);
    }
  }

  @keyframes normal {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.6);
    }
  }
  @keyframes loud {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(1.2);
    }
  }
  body{
    display: flex;
    justify-content: center;
    background: black;
    margin: 0;padding: 0;
    align-items: center;
    height: 100vh;
  }

  .boxContainer {
    display: flex;
    justify-content: space-between;
    height: 94px;
    --boxSize: 8px;
    --gutter: 4px;
    left: -39%;
    position: relative;
    bottom: -19%;
    width: 91px;
  }
  .box{
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);
    background: #12E2DC;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }

  .box1{
    animation-name: quiet;
  }

  .box2{
    animation-name: normal;
  }

  .box3{
    animation-name: quiet;
  }

  .box4{
    animation-name: loud;
  }

  .box5{
    animation-name: quiet;
  }
  button#confirmFile{
    position: relative;
    left: 31%;
    top: 251px;
    background-color: red;
    border-color: red;
    color: white;
    border-radius: 70px;
    width: 130px;
}





  /* mp3player */


  /**
  **/

  svg.video-overlay-play-button {
    width: 28%;
    position: relative;
    left: 24%;
    top: 202px;
  }
  .editFileCard {
    margin-top: 85px;
  }
  .buttons {
    position: fixed;
    top: 80%;
    left: 34%;
  }
  button#discardFile {
    position: relative;
    right: 9%;
    border-radius: 29%;
    height: 49px;
    top: 290px;
    background: #484848;
    border: #484848;
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
  }
  button#nextFile {
    position: relative;
    left: 15%;
    height: 49px;
    border-radius: 29%;
    width: 77px;
    top: 290px;
    background: white;
    border: white;
    color: black;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  }
  i.bi.bi-pause {
    position: fixed;
    bottom: -11%;
    width: 41%;
    height: 51%;
    right: 40px;
    font-size: 121px;
  }
  .css_animation {
    width: 100%;
    margin-top: 30px;
    margin-left: -13px;

  }

  .css_animation .wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    /*   padding-top: 78%; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .css_animation .wrapper div {
    display: block;
    width: 15px;
    margin-right: 8px;
    height: 15px;
    border-radius: 20px;
    animation: sound 0ms 1.2s linear infinite alternate;
    transition: height 0.8s;
  }
  .css_animation .wrapper .pro-rec1{
    background: #f9edf6;
  }

  @keyframes sound {
    0% {
      opacity: 0.35;
      height: 5px;
    }
    100% {
      opacity: 1;
      height: 50px;
    }
  }
  .css_animation .wrapper div:nth-of-type(1) {
    /*   height: 2px; */
    animation-duration: 458ms;
  }
  .css_animation .wrapper div:nth-of-type(2) {
    /*   height: 15px; */
    animation-duration: 400ms;
  }
  .css_animation .wrapper div:nth-of-type(3) {
    /*   height: 25px; */
    animation-duration: 427ms;
  }
  .css_animation .wrapper div:nth-of-type(4) {
    /*   height: 30px; */
    animation-duration: 441ms;
  }
  .css_animation .wrapper div:nth-of-type(5) {
    /*   height: 40px; */
    animation-duration: 419ms;
  }
  .css_animation .wrapper div:nth-of-type(6) {
    /*   height: 45px; */
    animation-duration: 487ms;
  }


  /*Onclick sound waves*/
  .css_animation .onClickWrapper {
    position: relative;
    width: 100%;
    height: 100px;
    /*   padding-top: 78%; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .css_animation .onClickWrapper div {
    display: block;
    width: 15px;
    margin-right: 8px;
    height: 15px;
    border-radius: 20px;

  }

  .css_animation .onClickWrapper .pro-rec1{
    background: #f9edf6;
  }

  .css_animation .onClickWrapper div:nth-of-type(1) {
       height: 70px;
  }
  .css_animation .onClickWrapper div:nth-of-type(2) {
       height: 60px;
  }
  .css_animation .onClickWrapper div:nth-of-type(3) {
       height: 50px;
  }
  .css_animation .onClickWrapper div:nth-of-type(4) {
       height: 40px;
  }
  .css_animation .onClickWrapper div:nth-of-type(5) {
       height: 30px;
  }
  .css_animation .onClickWrapper div:nth-of-type(6) {
       height: 20px;
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fileCard {
    width: 379px;
    height: 164px;
    /*background: #F4B371;*/
    background-color: #ff7f61 !important;
    margin: 10px auto;
    float: none;
    border-radius: 23%;
    display: flex;
    flex: 1 1 auto;
    box-shadow: rgb(0 0 0 / 35%) 0px -50px 36px -28px inset;
  }
  .editFileCard[_ngcontent-qmo-c18] {
    position: relative;
    top: 49px;
  }

  /* visualizer */
  @keyframes quiet {
    25%{
      transform: scaleY(.6);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.8);
    }
  }

  @keyframes normal {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.6);
    }
  }
  @keyframes loud {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(1.2);
    }
  }
  body{
    display: flex;
    justify-content: center;
    background: black;
    margin: 0;padding: 0;
    align-items: center;
    height: 100vh;
  }

  .boxContainer {
    display: flex;
    justify-content: space-between;
    height: 94px;
    --boxSize: 8px;
    --gutter: 4px;
    left: -39%;
    position: relative;
    bottom: -19%;
    width: 91px;
  }
  .box{
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);
    background: #12E2DC;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }

  .box1{
    animation-name: quiet;
  }

  .box2{
    animation-name: normal;
  }

  .box3{
    animation-name: quiet;
  }

  .box4{
    animation-name: loud;
  }

  .box5{
    animation-name: quiet;
  }
  button#confirmFile{
    position: relative;
    left: 31%;
    top: 251px;
    background-color: red;
    border-color: red;
    color: white;
    border-radius: 70px;
    width: 130px;
}





  /* mp3player */


  /**
  **/

  svg.video-overlay-play-button {
    width: 28%;
    position: relative;
    left: 24%;
    top: 202px;
  }
  .editFileCard {
    margin-top: 85px;
  }
  .buttons {
    position: fixed;
    top: 80%;
    left: 34%;
  }
  button#discardFile {
    position: relative;
    right: 9%;
    border-radius: 29%;
    height: 49px;
    top: 290px;
    background: #484848;
    border: #484848;
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
  }
  button#nextFile {
    position: relative;
    left: 15%;
    height: 49px;
    border-radius: 29%;
    width: 77px;
    top: 290px;
    background: white;
    border: white;
    color: black;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  }
  i.bi.bi-pause {
    position: fixed;
    bottom: -11%;
    width: 41%;
    height: 51%;
    right: 40px;
    font-size: 121px;
  }


  .css_animation {
    width: 100%;
    margin-top: 30px;
    margin-left: -13px;

  }

  .css_animation .wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    /*   padding-top: 78%; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .css_animation .wrapper div {
    display: block;
    width: 15px;
    margin-right: 8px;
    height: 15px;
    border-radius: 20px;
    animation: sound 0ms 1.2s linear infinite alternate;
    transition: height 0.8s;
  }
  .css_animation .wrapper .pro-rec1{
    background: #f9edf6;
  }

  @keyframes sound {
    0% {
      opacity: 0.35;
      height: 5px;
    }
    100% {
      opacity: 1;
      height: 50px;
    }
  }
  .css_animation .wrapper div:nth-of-type(1) {
    /*   height: 2px; */
    animation-duration: 458ms;
  }
  .css_animation .wrapper div:nth-of-type(2) {
    /*   height: 15px; */
    animation-duration: 400ms;
  }
  .css_animation .wrapper div:nth-of-type(3) {
    /*   height: 25px; */
    animation-duration: 427ms;
  }
  .css_animation .wrapper div:nth-of-type(4) {
    /*   height: 30px; */
    animation-duration: 441ms;
  }
  .css_animation .wrapper div:nth-of-type(5) {
    /*   height: 40px; */
    animation-duration: 419ms;
  }
  .css_animation .wrapper div:nth-of-type(6) {
    /*   height: 45px; */
    animation-duration: 487ms;
  }


  /*Onclick sound waves*/
  .css_animation .onClickWrapper {
    position: relative;
    width: 100%;
    height: 100px;
    /*   padding-top: 78%; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .css_animation .onClickWrapper div {
    display: block;
    width: 15px;
    margin-right: 8px;
    height: 15px;
    border-radius: 20px;

  }

  .css_animation .onClickWrapper .pro-rec1{
    background: #f9edf6;
  }

  .css_animation .onClickWrapper div:nth-of-type(1) {
       height: 70px;
  }
  .css_animation .onClickWrapper div:nth-of-type(2) {
       height: 60px;
  }
  .css_animation .onClickWrapper div:nth-of-type(3) {
       height: 50px;
  }
  .css_animation .onClickWrapper div:nth-of-type(4) {
       height: 40px;
  }
  .css_animation .onClickWrapper div:nth-of-type(5) {
       height: 30px;
  }
  .css_animation .onClickWrapper div:nth-of-type(6) {
       height: 20px;
  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .fileCard {
    width: 379px;
    height: 164px;
    /*background: #F4B371;*/
    background-color: #ff7f61 !important;
    margin: 10px auto;
    float: none;
    border-radius: 23%;
    display: flex;
    flex: 1 1 auto;
    box-shadow: rgb(0 0 0 / 35%) 0px -50px 36px -28px inset;
  }
  .editFileCard[_ngcontent-qmo-c18] {
    position: relative;
    top: 49px;
  }

  /* visualizer */
  @keyframes quiet {
    25%{
      transform: scaleY(.6);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.8);
    }
  }

  @keyframes normal {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(.6);
    }
  }
  @keyframes loud {
    25%{
      transform: scaleY(1);
    }
    50%{
      transform: scaleY(.4);
    }
    75%{
      transform: scaleY(1.2);
    }
  }
  body{
    display: flex;
    justify-content: center;
    background: black;
    margin: 0;padding: 0;
    align-items: center;
    height: 100vh;
  }

  .boxContainer {
    display: flex;
    justify-content: space-between;
    height: 94px;
    --boxSize: 8px;
    --gutter: 4px;
    left: -39%;
    position: relative;
    bottom: -19%;
    width: 91px;
  }
  .box{
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);
    background: #12E2DC;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }

  .box1{
    animation-name: quiet;
  }

  .box2{
    animation-name: normal;
  }

  .box3{
    animation-name: quiet;
  }

  .box4{
    animation-name: loud;
  }

  .box5{
    animation-name: quiet;
  }
  button#confirmFile{
    position: relative;
    left: 37%;
    top: 251px;
    background-color: red;
    border-color: red;
    color: white;
    border-radius: 70px;
    width: 130px;
}




  /* mp3player */


  /**
  **/

  svg.video-overlay-play-button {
    width: 6%;
    position: relative;
    left: 47%;
    top: 169px;
  }

  .editFileCard {
    margin-top: 85px;
  }
  .buttons {
    position: fixed;
    top: 80%;
    left: 34%;
  }
  button#discardFile {
    position: relative;
    left: 42%;
    height: 49px;
    border-radius: 29%;
    width: 77px;
    top: 268px;
    background: #484848;
    border: #484848;
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
  }
  button#nextFile {
    position: relative;
    left: 50%;
    height: 49px;
    border-radius: 29%;
    width: 77px;
    top: 268px;
    background: white;
    border: white;
    color: black;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
  }
  i.bi.bi-pause {

    width: 4%;
    position: relative;
    left: 48%;
    top: 21px;
    font-size: 186px;
  }


  .css_animation {
    width: 100%;
    margin-top: 30px;
    margin-left: -13px;

  }

  .css_animation .wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    /*   padding-top: 78%; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .css_animation .wrapper div {
    display: block;
    width: 15px;
    margin-right: 8px;
    height: 15px;
    border-radius: 20px;
    animation: sound 0ms 1.2s linear infinite alternate;
    transition: height 0.8s;
  }
  .css_animation .wrapper .pro-rec1{
    background: #f9edf6;
  }

  @keyframes sound {
    0% {
      opacity: 0.35;
      height: 5px;
    }
    100% {
      opacity: 1;
      height: 50px;
    }
  }
  .css_animation .wrapper div:nth-of-type(1) {
    /*   height: 2px; */
    animation-duration: 458ms;
  }
  .css_animation .wrapper div:nth-of-type(2) {
    /*   height: 15px; */
    animation-duration: 400ms;
  }
  .css_animation .wrapper div:nth-of-type(3) {
    /*   height: 25px; */
    animation-duration: 427ms;
  }
  .css_animation .wrapper div:nth-of-type(4) {
    /*   height: 30px; */
    animation-duration: 441ms;
  }
  .css_animation .wrapper div:nth-of-type(5) {
    /*   height: 40px; */
    animation-duration: 419ms;
  }
  .css_animation .wrapper div:nth-of-type(6) {
    /*   height: 45px; */
    animation-duration: 487ms;
  }


  /*Onclick sound waves*/
  .css_animation .onClickWrapper {
    position: relative;
    width: 100%;
    height: 100px;
    /*   padding-top: 78%; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .css_animation .onClickWrapper div {
    display: block;
    width: 15px;
    margin-right: 8px;
    height: 15px;
    border-radius: 20px;

  }

  .css_animation .onClickWrapper .pro-rec1{
    background: #f9edf6;
  }

  .css_animation .onClickWrapper div:nth-of-type(1) {
       height: 70px;
  }
  .css_animation .onClickWrapper div:nth-of-type(2) {
       height: 60px;
  }
  .css_animation .onClickWrapper div:nth-of-type(3) {
       height: 50px;
  }
  .css_animation .onClickWrapper div:nth-of-type(4) {
       height: 40px;
  }
  .css_animation .onClickWrapper div:nth-of-type(5) {
       height: 30px;
  }
  .css_animation .onClickWrapper div:nth-of-type(6) {
       height: 20px;
  }
  h1#time {
    font-size: 20px;
    color: white;
    position: RELATIVE;
    left: 71%;
    top: -83%;
  }
  img#audio_clipper {
    position: relative;
    left: 32%;
    top: 19px;
}
img#play-btn_new {
  width: 120px;
  position: relative;
  top: 172px;
  left: 19%;
}
.btn-edit {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: black;
  letter-spacing: 1px;
  line-height: 15px;
  border: white;
  border-radius: 40px;
  background: white;
  position: center;
  display: inline;
  width: 150px;
  position: relative;
  bottom: 278px;
  left: 24%;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
i.bi.bi-exclamation-circle-fill {
  font-size: 39px;
  position: relative;
  bottom: 271px;
  right: 99px;
  color:red;
}
h1#max_recording_time {
  position: relative;
  font-size: 17px;
  bottom: 364px;
  color: black;
  margin-left: 790px;
}


h4#modal-basic-title {
  position: relative;
  top: 264%;
  left: 12%;
  color:white;
}

::ng-deep.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #00000087 !important;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  height: 778px;
  border-radius: 50px;
}
button.close {
  color: white;
}



}
