.postCard{
  width: 95%;
  background: #F4B371;
  color: #AF2C0E;
  margin: 0 auto;
  float: none;
  border-radius: 21px ;
}

.btn-create {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid  #AF2C0E;
  border-radius: 40px;
  background:  #AF2C0E;
  transition: all 0.3s ease 0s;
  position: center;
  display:inline;
  width: 150px;
}

.btn-create:hover {
  color: #FFF;
  background: #ab6252;
  border: 2px solid rgba(217, 83, 78, 0.75);
}

.btn-cancel{
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid  #757575;
  border-radius: 40px;
  background:  #757575;
  transition: all 0.3s ease 0s;
  position:center;
  margin-top: 2px;
  display:inline;
  width: 150px;
}




