<div class="header">
  <img routerLink="/feedview" class="logo-audio-diary" src="./assets/img/main-logo.png" alt="recording button" >
  <nav>
    <ul>
      <li><a class="menu-close" (click)="closeMenu()" routerLink="feedview">Home</a></li>
      <li><a class="menu-close" (click)="closeMenu()" routerLink="./profile">Profile</a></li>
      <li><a class="menu-close" (click)="closeMenu()" routerLink="./profile-settings">Settings</a></li>
      <li><a class="menu-close" (click)="closeMenu()" routerLink="login">Login</a></li>
      <li><a class="menu-close" (click)="closeMenu()" routerLink="register">Sign Up</a></li>
    </ul>
  </nav>
  <div class="menu-toggle"
       (click)="toggleNav()">
    <i class="fa fa-bars"></i>
  </div>
</div>

