.header{
  background: #f87e5b;
  width: 100%;
  margin-bottom: 9px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header nav {
  display: none;
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  transition: 0.5s;
  background: #f87e5b;
  text-align: center;
}

.header nav.active {
  display: block;
}

.header nav ul {
  margin: 0;
  padding: 0;
  display: block;
}
.header nav ul li {
  list-style: none;
  text-decoration: none;
  padding: 15px;
}

.header nav ul li a {
  color: white;
  line-height: 50px;
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
}

.menu-toggle {
  position: absolute;
  right: 0;
  top:0;
  color: white;
  line-height: 50px;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  padding-right: 10px;
  padding-top: 5px;
}

.logo-audio-diary{
  width: 100px;
  cursor: pointer;
  display: block;
  position: relative;
  top: 0;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
