<div id="overlay" class="onClickWrapper">
  <button type="button" class="btn-close" aria-label="Close"></button>
<div class="card text-center">
  <div [style.background-color]="backgroundColor" class="card-header">
<!--    {{audioPost.user.username}}-->
  </div>
  <div class="card-img-overlay">
  <div>
    <i class="fa fa-play-circle-o" aria-hidden="true"></i>
  </div>
  </div>
  <img class="card-img-top" src="{{audioPost.img}}" alt="Card image cap" style="min-height: 200px">
  <div class="headerBody">
  <div class="card-body">
    <h5 class="card-title">{{audioPost.title}}</h5>
    <p class="card-text">{{audioPost.description}}</p>
    <p class="card-text"><small class="text-muted"></small></p>
    <div class="icons">
      <i *ngIf="audioPost.isLiked" (click)="audioPost.isLiked = false" class="bi bi-heart-fill"></i>
      <i *ngIf="!audioPost.isLiked" (click)="audioPost.isLiked = true" class="bi bi-heart"></i>
      <i class="bi bi-chat-dots"  (click)="toggleShow()"></i>
      <i class="bi bi-share-fill"></i>
    </div>
        <div class="reportFlag">
        </div>
<!--      <div class="commentsPart" (click)="isShown">-->
        <app-comments [postInfo]="audioPost"></app-comments>
<!--      </div>-->
  </div>
</div>
</div>
</div>

