

.card{
  border-radius: 35px;
  width: 22rem;
  display: flex;
  flex: 1 1 auto;
  margin: 10px auto;
}

.card-body{
  padding-top: 4mm;
}

app-comments{
  display: flex;
}



::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 11px;
  margin: 5px auto;
  flex: 1 1 auto;
  display: flex;

}


