<div class="postCard">
  <div class="card-body">
    <h2>Forgot Password</h2>
    <h6>Enter your e-mail address and we'll send you a link to reset your password.</h6>
    <form>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="row">
        <div class="col text-center">
          <button type="submit" class="btn btn-resetPassword">Reset password</button>
        </div>
      </div>
    </form>
  </div>
</div>
