.postCard{
  max-width: 500px;
  margin: auto;
  width: 95%;
  height: 450px;
  background: #F4B371;
  color: #AF2C0E;
  float: none;
  border-radius: 21px ;
}

.btn-login {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid  #AF2C0E;
  border-radius: 40px;
  background:  #AF2C0E;
  transition: all 0.3s ease 0s;
  position: center;
  display:inline;
  width: 150px;
}

.btn-login:hover {
  color: #FFF;
  background: #ab6252;
  border: 2px solid rgba(217, 83, 78, 0.75);
}






