<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter Password">
        <p> <a href="#">Forgot password?</a></p>
      </div>

      <div class="row">
        <div class="col text-center">
          <button type="submit" class="btn btn-login">Login</button>
        </div>

      </div>
    </form>
    <div class="row">
      <div class="col text-center">
        <p>Don't have an account? <a href="#">Create one now!</a></p>
      </div>
    </div>
  </div>
</div>
