.card{
  margin: 10px auto;
  border-radius: 20px 20px 30px 30px ;
  color: black;
  width: 350px;


  float: none;
  display: flex;
  flex: 1 1 auto;


}
.card-img-top{
  border-radius: 17px 17px 30px 30px ;
}
.card-username{
  font-size: 12px;
}
.card-title{
  margin-bottom: 0;
}

.card-body{
  padding-top: 0;
}

.icons{
  display: inline-block;
  float: right;

}
.bi{
  padding: 3px;
}

.fa-play-circle-o{
  color: white;
  font-size: 70px;
  opacity: 90%;
  position: absolute;
  top:75px;
  left: 145px;
}

img#imageWave {
position: absolute;
bottom: 63%;
height: 200px;
width: 352px;
}
