
<div class="card"  [ngStyle]="{'border-color':audioPost.theme, 'box-shadow':'2.4px 4.8px 4.8px'+audioPost.theme}">
  <i class="fa fa-play-circle-o" aria-hidden="true"></i>
  <img style="min-height: 200px" class="card-img-top" src="{{audioPost.img}}" alt="Card image cap">
  <div class="card-body">
    <div class="headerBody">
<!--      <p class="card-username">@{{audioPost.user.username}} {{audioPost.user.name}}</p>-->
      <p class="card-username">@user</p>
      <div class="icons">
        <i *ngIf="audioPost.isLiked" (click)="audioPost.isLiked = false; removeFromLikes()" class="bi bi-heart-fill"></i>
        <i *ngIf="!audioPost.isLiked" (click)="audioPost.isLiked = true; addToLikes()" class="bi bi-heart"></i>
        <i class="bi bi-chat-dots"  (click)="toggleShow()"></i>
        <i class="bi bi-share-fill" (click)="sharePost()"></i>
      </div>
    </div>
    <a href="#" class="badge badge-dark">{{themeValue}}</a>
    <h5 class="card-title">{{audioPost.title}}</h5>
    <p class="card-text">{{audioPost.description}}</p>
  </div>
  <div class="commentsPart">
    <app-comments [postInfo]="audioPost" *ngIf="isShown"></app-comments>
  </div>
</div>

