.card{
  margin: 10px auto;
  border-radius: 20px 20px 30px 30px ;
  color: black;
  width: 350px;
  box-shadow: 2.4px 4.8px 4.8px hsl(0deg 0% 0% / 0.43);
  float: none;
  display: flex;
  flex: 1 1 auto;

}
.card-img-top{
  border-radius: 17px 17px 30px 30px ;
}
.card-username{
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;

}
.card-title{
  margin-bottom: 0;
}

.card-body{
  padding-top: 0;
}

.icons{
  display: inline-block;
  float: right;

}
.bi{
  padding: 3px;
}
