<div class="footer">
  <!--  <span class="dot"></span>-->
  <img routerLink="/rec-done" class="footer-rec-button" src="./assets/img/rec-button.png" alt="recording button">

  <div class="onClickWrapper">
    <a class="menu-close" routerLink="feedview"><i class="fa fa-home i-shadow" aria-hidden="true"></i></a>
    <a class="menu-close" routerLink="./profile"><i class="fa fa-user i-shadow" aria-hidden="true"></i></a>
    <a class="menu-close" routerLink="./profile-settings"><i class="fa bi-gear-fill" aria-hidden="true"></i></a>
    <a class="menu-close" routerLink="login"><i class="fa fa-sign-in i-shadow" aria-hidden="true"></i></a>
    <a class="menu-close" routerLink="register"><i class="fa fa-user-plus i-shadow" aria-hidden="true"></i></a>
  </div>

  <!--  <div class="onClickWrapper">-->
  <!--    <ul class="footer-item">-->
  <!--      <li><a class="menu-close" routerLink="feedview"><i class="fa fa-home" aria-hidden="true"></i></a></li>-->
  <!--&lt;!&ndash;      <li><a href="#"> home </a></li>&ndash;&gt;-->
  <!--    </ul>-->

  <!--    <ul class="footer-item">-->
  <!--      <li><a class="menu-close" routerLink="./profile"><i class="fa fa-user" aria-hidden="true"></i></a></li>-->
  <!--&lt;!&ndash;      <li><a href="#"> Profile </a></li>&ndash;&gt;-->
  <!--    </ul>-->

  <!--    <ul class="footer-item">-->
  <!--      <li><a class="menu-close" routerLink="./profile-settings"><i class="fa bi-gear-fill" aria-hidden="true"></i></a>-->
  <!--      </li>-->
  <!--&lt;!&ndash;      <li><a href="#"> Settings </a></li>&ndash;&gt;-->
  <!--    </ul>-->

  <!--    <ul class="footer-item">-->
  <!--      <li><a class="menu-close" routerLink="login"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>-->
  <!--&lt;!&ndash;      <li><a href="#"> login </a></li>&ndash;&gt;-->
  <!--    </ul>-->

  <!--&lt;!&ndash;    <ul class="footer-item">&ndash;&gt;-->
  <!--&lt;!&ndash;      <li><a class="menu-close" routerLink="register"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>&ndash;&gt;-->
  <!--&lt;!&ndash;      <li><a href="#"> signup </a></li>&ndash;&gt;-->
  <!--&lt;!&ndash;    </ul>&ndash;&gt;-->

  <!--  </div>-->
</div>
