
<div class="list-group">
  <h3>Welcome back {{currentAdmin.name}}!</h3>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <i class="bi bi-person-workspace"></i>
        Amount of users</h5>
    </div>
    <h3 class="mb-1">{{amountOfUsers}}<i class="bi bi-arrow-up-square-fill" style="color: #9BC111"></i>
    </h3>
<!--    <small>167 more than yesterday</small>-->
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <i class="bi bi-sticky"></i>
        Amount of posts</h5>
    </div>
    <h3 class="mb-1">{{amountOfPosts}}
      <i class="bi bi-arrow-up-square-fill" style="color: #9BC111"></i>
    </h3>
<!--    <small class="text-muted">48 more than yesterday</small>-->
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <i class="bi bi-activity"></i>
        Most used theme</h5>
    </div>
    <h3 class="mb-1">{{popularTheme[0][0]}}</h3>
    <small class="text-muted">The most used hashtag with an amount of {{popularTheme[0][1]}}</small>
  </a>
</div>
