<!--<div class="card" [ngStyle]="{'border-color':audioPost.theme, 'box-shadow':'2.4px 4.8px 4.8px'+audioPost.theme}">-->
<!--  <div class="css_animation">-->
<!--    <div id="soundwavesWrapper" (click)="activateSoundWaves()" class="onClickWrapper">-->
<!--      <div class="pro-rec1"></div>-->
<!--      <div class="pro-rec1"></div>-->
<!--      <div class="pro-rec1"></div>-->
<!--      <div class="pro-rec1"></div>-->
<!--      <div class="pro-rec1"></div>-->
<!--      <div class="pro-rec1"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div>-->
<!--    <i class="fa fa-play-circle-o" aria-hidden="true"></i>-->
<!--  </div>-->
<!--  <img style="max-height: 200px" class="card-img-top" src="{{audioPost.img}}" alt="Card image cap">-->
<!--  <div class="card-body">-->
<!--    <div class="headerBody">-->
<!--      <div class="profile-post-header">-->
<!--        <span class="profile-header-pic"> <i class="fa fa-user" aria-hidden="true"></i></span>-->
<!--        <span class="profile-header-name">{{audioPost.user.name}}</span>-->
<!--      </div>-->
<!--      <div>-->
<!--        <i onclick="document.getElementById('id02').style.display='block'" class="fa fa-times-circle profile-bin" aria-hidden="true"></i>-->
<!--      </div>-->
<!--&lt;!&ndash;      <p class="card-username">{{audioPost.user}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="icons">&ndash;&gt;-->

<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
<!--    <h5 class="card-title">{{audioPost.title}}</h5>-->
<!--    <p class="card-text">{{audioPost.description}}</p>-->

<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash;//pop up&ndash;&gt;-->
<!--<div id="id02" class="modal">-->

<!--  <form class="modal-content">-->
<!--    <div class="container">-->
<!--      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>-->
<!--      <h4>Delete Favorite Post</h4>-->
<!--      <p>Are you sure you want to delete your Favorite post?</p>-->

<!--      <div class="clearfix">-->
<!--        <button  type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>-->
<!--        <button (click)="toRemoveFavoritePost()" type="button" onclick="document.getElementById('id02').style.display='none'" class="deletebtn">Delete</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
<!--<div style="height: 20px"></div>-->
<!--<script>-->
<!--  const modal = document.getElementById('id02');-->

<!--  window.onclick = function(event) {-->
<!--    if (event.target == modal) {-->
<!--      modal.style.display = "none";-->
<!--    }-->
<!--  }-->
<!--</script>-->






