<!--<div class="editingRec">-->
<!--  <h2 id="editHeader" >Edit recording</h2>-->


<!--  <div class="editCard">-->

<!--    <div class="card" [ngStyle]="{'color': getSelectedColor()}">-->
<!--      <img class="cardImg" [src]="imageSrc" alt="Add an image below">-->
<!--      <div class="card-body">-->
<!--        <div class="headerBody">-->
<!--          <p class="card-username">@user</p>-->
<!--          <div class="icons">-->
<!--            <i class="bi bi-heart-fill"></i>-->
<!--            <i class="bi bi-heart"></i>-->
<!--            <i class="bi bi-chat-dots"></i>-->
<!--            <i class="bi bi-share-fill"></i>-->
<!--          </div>-->
<!--        </div>-->
<!--        <h5 class="postCardTitle">{{newPost.title}}</h5>-->
<!--        <p class="card-text">{{newPost.description}}</p>-->
<!--      </div>-->
<!--      <div class="commentsPart">-->
<!--      </div>-->
<!--    </div>-->




<!--    <div class="editInputs">-->
<!--      <div class="inputsTitle">-->
<!--        <p class="inputHeader">Title:</p>-->
<!--        <input class="inputValue" [(ngModel)]="newPost.title">-->
<!--      </div>-->

<!--      <p class="inputHeader"> Duration:</p>-->
<!--      <input class="inputValue" id="durationInput" value="01:30:00">-->

<!--      <p class="inputHeader"> Location:</p>-->
<!--      <div id="map-mapbox" style="height: 200px"></div>-->
<!--&lt;!&ndash;      <input class="inputValue" id="locationInput" value="Amsterdam">&ndash;&gt;-->


<!--      <p class="inputHeader"> Description:</p>-->
<!--      &lt;!&ndash;    <input class="inputValue" id="discriptionInput" value="Here you can hear the rain while walking through Amsterdamse bos">&ndash;&gt;-->
<!--      <textarea class="inputValue" id="descriptionArea" rows="10" cols="30" [(ngModel)]="newPost.description"></textarea>-->

<!--      <div class="themeSelection">-->
<!--        <p id="themeInput">Choose theme:</p>-->
<!--        <div id="chooseTheme">-->
<!--          <p class="themeOptions" id="option1" (click)="cardColor = '#FE5F38'"></p>-->
<!--          <p class="themeOptions" id="option2" (click)="cardColor = '#FFAA5B'" ></p>-->
<!--          <p class="themeOptions" id="option3" (click)="cardColor = '#9BC111'"></p>-->
<!--          <p class="themeOptions" id="option4" (click)="cardColor = '#7A9BC6'"></p>-->
<!--          <p class="themeOptions" id="option5" (click)="cardColor = '#A28EB2'"></p>-->
<!--          <p class="themeOptions" id="option6" (click)="cardColor = '#73251E'"></p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <form action="" method="post" enctype="multipart/form-data">-->
<!--        <div class="picture">-->
<!--          <p class="inputHeader"> Picture: </p>-->
<!--          <input type="file" ng2FileSelect [uploader]="uploader" />-->
<!--          <button [disabled]="loading" (click)="upload()" class="btn" (change)="readURL($event)">-->
<!--        </div>-->
<!--      </form>-->

<!--      <div class="buttons">-->
<!--        <button class="editButtons" id="discardButton" (click)="backButton()">Go back</button>-->
<!--        <button type= "submit" class="editButtons" id="postButton" (click)="postButton()">post</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div style="margin-bottom: 150px"></div>-->
<!--</div>-->

<div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
  <h1>New Photo</h1>
  <h2>Direct upload from the browser with Angular File Upload</h2>
  <p>You can also drag and drop an image file into the dashed area.</p>
  <form>
    <div class="form_line">
      <label path="title">Title:</label>
      <div class="form_controls">
        <input type="text" class="form-control" #title placeholder="Title" (keyup.enter)="updateTitle(title.value)" (blur)="updateTitle(title.value)"
        />
      </div>
    </div>
    <div class="form_line">
      <label>Image:</label>
      <div class="form_controls">
        <div class="upload_button_holder">
          <label class="upload_button" for="fileupload">Upload</label>
          <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
          <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''"
                 multiple />
        </div>

      </div>
    </div>
  </form>
  <h2>Status</h2>
  <div class="file" *ngFor="let response of responses; let i = index">
    <h3>{{response.file.name}}</h3>
    <button class="delete-image" *ngIf="!!response.data.delete_token" (click)="deleteImage(response.data, i)">Delete image</button>
    <div class="status">
      Uploading... {{response.progress}}%
      <div *ngIf="!response.status">In progress</div>
      <div class="status-code" *ngIf="response.status">Upload completed with status code {{response.status}}</div>
    </div>
    <div class="progress-bar">
      <div class="progress" role="progressbar" [style.width.%]="response.progress"></div>
    </div>
    <div class="form_line">
      <div class="form_controls">
        <div class="preview">
          <!-- Consider using https://github.com/valor-software/ng2-file-upload/issues/461 for image preview -->
        </div>
      </div>
    </div>
    <div class="info">
      <table>
        <tr *ngFor="let property of getFileProperties(response.data)">
          <td> {{ property.key }} </td>
          <td> {{ property.value | json}} </td>
        </tr>
      </table>
    </div>
  </div>

</div>
