<div class="editingRec">

  <h2 id="editHeader" >Edit recording</h2>


  <div class="editCard">

    <div class="card" [ngStyle]="{'color': getSelectedColor()}">
      <img class="cardImg" [src]="imageSrc" alt="Add an image below">
      <div class="card-body">
        <div class="headerBody">
          <p class="card-username">@user</p>
          <div class="icons">
            <i class="bi bi-heart-fill"></i>
            <i class="bi bi-heart"></i>
            <i class="bi bi-chat-dots"></i>
            <i class="bi bi-share-fill"></i>
          </div>
        </div>
        <h5 class="postCardTitle">{{editTitle}}</h5>
        <p class="card-text">{{editDescription}}</p>
      </div>
      <div class="commentsPart">
      </div>
    </div>




    <div class="editInputs">
      <div class="inputsTitle">
        <p class="inputHeader">Title:</p>
        <input class="inputValue" [(ngModel)]="newPost.title">
      </div>

      <p class="inputHeader"> Duration:</p>
      <input class="inputValue" id="durationInput" value="01:30:00">

      <p class="inputHeader"> Location:</p>
      <div id="map-mapbox" style="height: 200px"></div>
<!--      <input class="inputValue" id="locationInput" value="Amsterdam">-->


      <p class="inputHeader"> Description:</p>
      <!--    <input class="inputValue" id="discriptionInput" value="Here you can hear the rain while walking through Amsterdamse bos">-->
      <textarea class="inputValue" id="descriptionArea" rows="10" cols="30" [(ngModel)]="newPost.description"></textarea>

      <div class="picture">
        <p class="inputHeader"> Picture: </p>
        <input type="file" (change)="readURL($event)">
      </div>

      <div class="themeSelection">
        <p id="themeInput">Choose theme:</p>
        <div id="chooseTheme">
          <p class="themeOptions" id="option1" (click)="cardColor = '#FE5F38'"></p>
          <p class="themeOptions" id="option2" (click)="cardColor = '#FFAA5B'" ></p>
          <p class="themeOptions" id="option3" (click)="cardColor = '#9BC111'"></p>
          <p class="themeOptions" id="option4" (click)="cardColor = '#7A9BC6'"></p>
          <p class="themeOptions" id="option5" (click)="cardColor = '#A28EB2'"></p>
          <p class="themeOptions" id="option6" (click)="cardColor = '#73251E'"></p>
        </div>
      </div>

      <div class="buttons">
        <button class="editButtons" id="discardButton" (click)="backButton()">Go back</button>
        <button class="editButtons" id="postButton" (click)="postButton()">post</button>
      </div>
    </div>
  </div>

  <div style="margin-bottom: 150px"></div>
</div>
