#map-mapbox {
  height: 100%;
  width: 100%;
  position: absolute;
}

/*#overlay {*/
/*  position: absolute; !* Sit on top of the page content *!*/
/*  !*display: none; !* Hidden by default *!*!*/
/*  width: 100%; !* Full width (cover the whole page) *!*/
/*  height: 100%; !* Full height (cover the whole page) *!*/
/*  z-index: 10; !* Specify a stack order in case you're using a different order for other elements *!*/
/*  cursor: pointer; !* Add a pointer on hover *!*/
/*  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
/*  background-size: 400% 400%;*/
/*  animation: gradient 15s ease infinite;*/
/*}*/

/*#overlay {*/
/*  position: fixed;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  width: 300px;*/
/*  height: 500px;*/
/*  margin-left: -150px;*/
/*  margin-top: -100px;*/
/*  text-align: center;*/
/*  border-radius: 5px;*/

/*  !* needed styles for the overlay *!*/
/*  z-index: 10; !* keep on top of other elements on the page *!*/
/*  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);*/
/*}*/

/*#close, #context {*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  width: 87px;*/
/*  height: 511px;*/
/*  margin-left: -150px;*/
/*  margin-top: -100px;*/
/*  position: sticky;*/
/*  display: block;*/
/*  float: right;*/
/*  border: transparent;*/
/*  background-color: #fff;*/
/*  color: white;*/
/*  z-index: 100;*/
/*}*/

/*#close {*/
/*  background-color: transparent;*/
/*}*/

.postCard {
  position: absolute;
  z-index: 100;
  width: 379px;
  height: auto;
  background: #F4B371;
  color: #AF2C0E;
  margin: 10px auto;
  float: none;
  border-radius: 21px ;
  display: flex;
  flex: 1 1 auto;
}

app-comments{
  position: relative;
  display: flex;
  right: 345px;
  margin-top: 200px;
}
.postedByTag{
  color: #FFFFFF;
  margin-left: 10px;
  font-size: 10px;
}
.card-img-top{
  width: 182px;
  height: 125px;
  margin-top: 23px;
  margin-left: 20px;
  border-radius: 17px;
  position: absolute;

}
.title-container{
  width: 130px;
  height: 21px;
  border-radius: 7px ;
  background: #94260d;


}
.card-title{
  font-size:15px;
  color: white;
  margin-left: 10px;
}

.text-container{
  width: 130px;
  height: 90px;
  margin-top: 2px;
  border-radius: 7px ;
  background: white;
}
.card-text{
  margin-top: 1px;
  margin-left: 2px;
  font-size: 7px;
  color: black;
}
.bi{
  padding: 3px;
}
.bi-flag-fill {
  margin-left: 36px;
}
