#map-mapbox {
  height: 100%;
  width: 100%;
  position: absolute;
}

/*#overlay {*/
/*  position: absolute; !* Sit on top of the page content *!*/
/*  !*display: none; !* Hidden by default *!*!*/
/*  width: 100%; !* Full width (cover the whole page) *!*/
/*  height: 100%; !* Full height (cover the whole page) *!*/
/*  z-index: 10; !* Specify a stack order in case you're using a different order for other elements *!*/
/*  cursor: pointer; !* Add a pointer on hover *!*/
/*  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
/*  background-size: 400% 400%;*/
/*  animation: gradient 15s ease infinite;*/
/*}*/

#overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
  border-radius: 5px;

  /* needed styles for the overlay */
  z-index: 10; /* keep on top of other elements on the page */
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

#close, #context {
  top: 50%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  position: sticky;
  display: block;
  float: right;
  border: transparent;
  background-color: white;
  color: grey;
  z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
}

#close {
  background-color: transparent;
}

.postCard {
  position: absolute;
  z-index: 100;
  width: 379px;
  height: auto;
  background: #F4B371;
  color: #AF2C0E;
  margin: 10px auto;
  float: none;
  border-radius: 21px ;
  display: flex;
  flex: 1 1 auto;
}

app-comments{
  position: relative;
  display: flex;
  right: 345px;
  margin-top: 200px;
}
.postedByTag{
  color: #FFFFFF;
  margin-left: 10px;
  font-size: 10px;
}
.card-img-top{
  width: 182px;
  height: 125px;
  margin-top: 23px;
  margin-left: 20px;
  border-radius: 17px;
  position: absolute;

}
.title-container{
  width: 130px;
  height: 21px;
  border-radius: 7px ;
  background: #94260d;


}
.card-title{
  font-size:15px;
  color: white;
  margin-left: 10px;
}

.text-container{
  width: 130px;
  height: 90px;
  margin-top: 2px;
  border-radius: 7px ;
  background: white;
}
.card-text{
  margin-top: 1px;
  margin-left: 2px;
  font-size: 7px;
  color: black;
}
.bi{
  padding: 3px;
}
.bi-flag-fill {
  margin-left: 36px;
}

/*!**********animation********!*/
/*.css_animation {*/
/*  width: 100%;*/
/*  margin-top: 30px;*/
/*  margin-left: -13px;*/

/*}*/

/*.css_animation .wrapper {*/
/*  position: relative;*/
/*  width: 100%;*/
/*  height: 100px;*/
/*  !*   padding-top: 78%; *!*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  overflow: hidden;*/
/*}*/

/*.css_animation .wrapper div {*/
/*  display: block;*/
/*  width: 15px;*/
/*  margin-right: 8px;*/
/*  height: 15px;*/
/*  border-radius: 20px;*/
/*  animation: sound 0ms 1.2s linear infinite alternate;*/
/*  transition: height 0.8s;*/
/*}*/
/*.css_animation .wrapper .pro-rec1{*/
/*  background: #f9edf6;*/
/*}*/

/*@keyframes gradient {*/
/*  0% {*/
/*    background-position: 0% 50%;*/
/*  }*/
/*  50% {*/
/*    background-position: 100% 50%;*/
/*  }*/
/*  100% {*/
/*    background-position: 0% 50%;*/
/*  }*/
/*}*/

/*@keyframes sound {*/
/*  0% {*/
/*    opacity: 0.35;*/
/*    height: 5px;*/
/*  }*/
/*  100% {*/
/*    opacity: 1;*/
/*    height: 50px;*/
/*  }*/
/*}*/
/*.css_animation .wrapper div:nth-of-type(1) {*/
/*  !*   height: 2px; *!*/
/*  animation-duration: 458ms;*/
/*}*/
/*.css_animation .wrapper div:nth-of-type(2) {*/
/*  !*   height: 15px; *!*/
/*  animation-duration: 400ms;*/
/*}*/
/*.css_animation .wrapper div:nth-of-type(3) {*/
/*  !*   height: 25px; *!*/
/*  animation-duration: 427ms;*/
/*}*/
/*.css_animation .wrapper div:nth-of-type(4) {*/
/*  !*   height: 30px; *!*/
/*  animation-duration: 441ms;*/
/*}*/
/*.css_animation .wrapper div:nth-of-type(5) {*/
/*  !*   height: 40px; *!*/
/*  animation-duration: 419ms;*/
/*}*/
/*.css_animation .wrapper div:nth-of-type(6) {*/
/*  !*   height: 45px; *!*/
/*  animation-duration: 487ms;*/
/*}*/


/*!*Onclick sound waves*!*/
/*.css_animation .onClickWrapper {*/
/*  position: relative;*/
/*  width: 100%;*/
/*  height: 100px;*/
/*  !*   padding-top: 78%; *!*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  overflow: hidden;*/
/*}*/

/*.css_animation .onClickWrapper div {*/
/*  display: block;*/
/*  width: 15px;*/
/*  margin-right: 8px;*/
/*  height: 15px;*/
/*  border-radius: 20px;*/

/*}*/

/*.css_animation .onClickWrapper .pro-rec1{*/
/*  background: #f9edf6;*/
/*}*/

/*.css_animation .onClickWrapper div:nth-of-type(1) {*/
/*  height: 70px;*/
/*}*/
/*.css_animation .onClickWrapper div:nth-of-type(2) {*/
/*  height: 60px;*/
/*}*/
/*.css_animation .onClickWrapper div:nth-of-type(3) {*/
/*  height: 50px;*/
/*}*/
/*.css_animation .onClickWrapper div:nth-of-type(4) {*/
/*  height: 40px;*/
/*}*/
/*.css_animation .onClickWrapper div:nth-of-type(5) {*/
/*  height: 30px;*/
/*}*/
/*.css_animation .onClickWrapper div:nth-of-type(6) {*/
/*  height: 20px;*/
/*}*/
