<div class="row">
  <div class="col">
    <div id="map-mapbox" style="height: 400px"></div>
    <button (click)="downloadObjectAsJson()" id="download">Download data</button>
  </div>
  </div>
  <div class="col">
    <div class="table-responsive" *ngIf="currentAdmin.verified == true">
      <table class="table table-striped" id="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">User</th>
          <th scope="col">Audio</th>
          <th scope="col">Amount of reports</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of reportedPosts">
          <th>{{post.id}}</th>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
          <td>{{post.user.email}}</td>
          <td>{{post.audio}}</td>
          <td>{{post.amountReport}}</td>
          <td><button class="btn-primary" (click)="deletePosts(post.id)">Remove post</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
