<div class="row">
  <div class="col">
    <div id="map-mapbox" style="height: 400px"></div>
  </div>
<!--  <table class="table table-striped">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th scope="col">#</th>-->
<!--      <th scope="col">City</th>-->
<!--      <th scope="col">Amount of posts</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Paris</td>-->
<!--      <td>2003</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Amsterdam</td>-->
<!--      <td>788</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Milaan</td>-->
<!--      <td>723</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Barcelona</td>-->
<!--      <td>502</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Berlin</td>-->
<!--      <td>365</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>London</td>-->
<!--      <td>240</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Dusseldorf</td>-->
<!--      <td>91</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
  </div>
  <div class="col">
<!--  <div class="card">-->
<!--    <div class="card-header">-->
<!--      Posts-->
<!--        <div ngbDropdown class="d-inline-block ml-5">-->
<!--          <button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>Filter date</button>-->
<!--          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">-->
<!--            <button ngbDropdownItem (click)="changeChart('day')">Day</button>-->
<!--            <button ngbDropdownItem (click)="changeChart('week')">Week</button>-->
<!--            <button ngbDropdownItem (click)="changeChart('month')">Month</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    <div class="card-body">-->
<!--      <canvas id="chart"></canvas>-->
<!--  </div>-->

    <div class="table-responsive">
      <table class="table table-striped" id="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">User</th>
          <th scope="col">Audio</th>
          <th scope="col">Amount of reports</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of reportedPosts">
          <th>{{post.id}}</th>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
          <td>{{post.user.email}}</td>
          <td>{{post.audio}}</td>
          <td>{{post.amountReport}}</td>
          <td><button class="btn-primary" (click)="deletePosts(post.id)">Remove post</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
