<!--<div class="postCard">-->
<!--  <div class="card-body">-->
<!--    <form>-->
<!--      <div class="form-group">-->
<!--        <label for="email">Email address</label>-->
<!--        <input type="email" class="form-control" id="email" placeholder="Enter email">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password" class="form-control" id="password" placeholder="Enter Password">-->
<!--        <p> <a routerLink="/forgot-password">Forgot password?</a></p>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="col text-center">-->
<!--          <button routerLink="/feedview" type="submit" class="btn btn-login">Login</button>-->
<!--        </div>-->

<!--      </div>-->
<!--    </form>-->
<!--    <div class="row">-->
<!--      <div class="col text-center">-->
<!--        <p>Don't have an account? <a routerLink="/register">Create one now!</a></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container">
  <div class="row" *ngIf="welcomeMessage">
    <div class="col">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ welcomeMessage }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <form (ngSubmit)="onSubmit()" #f="ngForm">

        <div class="form-group">
          <label for="inputEmail">E-mail</label>
          <input type="email" class="form-control" id="inputEmail" name="email" [(ngModel)]="user.email"
                 #emailComponent="ngModel" required email>
          <div *ngIf="!emailComponent.valid && emailComponent.touched" class="alert alert-warning">Please
            enter a valid e-mail</div>
        </div>

        <div class="form-group">
          <label for="inputEmail">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password" [(ngModel)]="user.encodedPassword"
                 #passwordComponent="ngModel" required>
          <div *ngIf="!passwordComponent.valid && passwordComponent.touched" class="alert alert-warning">Please
            enter a valid password</div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Login</button>
      </form>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
  <hr>
  <div class="row>">
    <div class="col">
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    </div>
  </div>
</div>
