.postCard{
  max-width: 500px;
  margin: auto;
  width: 95%;
  height: auto;
  background: #FFFFFF;
  color: black;
  float: none;
  border-radius: 21px ;
  /*box-shadow: 2px 4px 10px black;*/
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.btn-login {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  /*background: #bad3f8;*/
  background-color: #2c2c2c;
  transition: all 0.3s ease 0s;
  position: center;
  display:inline;
  width: 150px;
}

.btn-login:hover {
  color: #FFF;
  /*background: #4496ec;*/
  /*border: 2px solid #4496ec;*/
  background-color: #3b3b3b;
}






