<div class="profile-container">
  <div class="title-container">
    <!--    <span class="a"><img src="./assets/img/profile-pic-logo.png" alt="Paris" width="50" height="50"></span>-->
    <span class="profile-header-pic"> <i class="fa fa-user" aria-hidden="true"></i></span>
    <span class="profile-header-name">user Diary</span>
  </div>
  <hr class="profile-hr">

  <div class="profile-top-section">
    <h5 class="profile-section-title">My Fragments</h5>
    <div class="allPosts">
      <div *ngFor="let post of posts;" (click)="postSelection(post)">
        <app-profile-post
          [selectedPost]="getSelectedPost"
          (deletedSelected)="onDelete($event)"
          [audioPost]="post">

        </app-profile-post>
      </div>
    </div>
  </div>

  <div style="height: 30px" class="whiteSpace"></div>


  <div class="profile-top-section">
    <hr class="profile-hr">
    <h5 class="profile-section-title">Favorites</h5>
    <div class="allPosts">
      <div *ngFor="let post of favoritePost" (click)="favoritePostSelection(post)">
        <app-profile-post-favorite
                          [selectedFavoritePost]="getSelectedFavoritePost"
                          (deletedFavoriteSelected)="onDeleteFavorite($event)"
                          [audioPost]="post">

        </app-profile-post-favorite>
      </div>
    </div>
  </div>
</div>
<div style="height: 150px" class="whiteSpace"></div>
