<div class="wrapper">
  <section class="hero">
    <header>
      <div class="container">

      </div>
    </header>

    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10 col-lg-6">
            <h1 class="display-5">Audio Diary</h1>

            <p class="lead">The place to listen to audio's from all over the world.</p>

            <p class="lead">
              <a class="btn btn-primary btn-lg m-2" routerLink="login" role="button">Login</a>
              <a class="btn btn-primary btn-lg m-2" routerLink="register" role="button">Register</a>
              <a class="btn btn-primary btn-lg m-2" routerLink="feedview" role="button">Just take a look at the website</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
