<div class="profile-container">
  <div class="title-container">
    <!--    <span class="a"><img src="./assets/img/profile-pic-logo.png" alt="Paris" width="50" height="50"></span>-->
    <span class="profile-header-pic"> <i class="fa fa-user" aria-hidden="true"></i></span>
    <span class="profile-header-name">user Diary</span>
  </div>
  <hr class="profile-hr">

  <div class="profile-top-section">
    <h5 class="profile-section-title">My Fragments</h5>
    <ul class="top-ul">
      <li>
        <div class="profile rec container">
          <div class="profile-rec-item profile-rec-item1">River sound</div>
          <div class="profile-rec-item profile-rec-item2">
            <audio controls style="width: 220px">
              <source src="#" type="audio/ogg">
              <source src="#" type="audio/mpeg">
            </audio>
            <i class="fa fa-trash profile-bin" aria-hidden="true"></i>
          </div>
        </div>
      </li>

      <li>
        <div class="profile rec container">
          <div class="profile-rec-item profile-rec-item1">Forest</div>
          <div class="profile-rec-item profile-rec-item2">
            <audio controls style="width: 220px">
              <source src="#" type="audio/ogg">
              <source src="#" type="audio/mpeg">
            </audio>
            <i class="fa fa-trash profile-bin" aria-hidden="true"></i>
          </div>
        </div>
      </li>

      <li>
        <div class="profile rec container">
          <div class="profile-rec-item profile-rec-item1">City Sound</div>
          <div class="profile-rec-item profile-rec-item2">
            <audio controls style="width: 220px">
              <source src="#" type="audio/ogg">
              <source src="#" type="audio/mpeg">
            </audio>
            <i class="fa fa-trash profile-bin" aria-hidden="true"></i>
          </div>
        </div>
      </li>

      <li>
        <div class="profile rec container">
          <div class="profile-rec-item profile-rec-item1">Mountains</div>
          <div class="profile-rec-item profile-rec-item2">
            <audio controls style="width: 220px">
              <source src="#" type="audio/ogg">
              <source src="#" type="audio/mpeg">
            </audio>
            <i class="fa fa-trash profile-bin" aria-hidden="true"></i>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <div class="profile-bot-section">
    <h5 class="profile-section-title">Favorites Fragments</h5>
    <ul class="bot-ul">
      <li>
        <div class="profile rec container">
          <div class="profile-rec-item profile-rec-item1">Mountains</div>
          <div class="profile-rec-item profile-rec-item2">
            <audio controls>
              <source src="#" type="audio/ogg">
              <source src="#" type="audio/mpeg">
            </audio>
          </div>
        </div>
      </li>
      <li>
        <div class="profile rec container">
          <div class="profile-rec-item profile-rec-item1">Mountains</div>
          <div class="profile-rec-item profile-rec-item2">
            <audio controls>
              <source src="#" type="audio/ogg">
              <source src="#" type="audio/mpeg">
            </audio>
          </div>
        </div>
      </li>
      <li>
        <div class="profile rec container">
          <div class="profile-rec-item profile-rec-item1">Mountains</div>
          <div class="profile-rec-item profile-rec-item2">
            <audio controls>
              <source src="#" type="audio/ogg">
              <source src="#" type="audio/mpeg">
            </audio>
          </div>
        </div>
      </li>
      <li>
        <div class="profile rec container">
          <div class="profile-rec-item profile-rec-item1">Mountains</div>
          <div class="profile-rec-item profile-rec-item2">
            <audio controls>
              <source src="#" type="audio/ogg">
              <source src="#" type="audio/mpeg">
            </audio>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
