<div class="profile-container">
  <div class="title-container">
      <span class="a"><img src="./assets/img/profile-pic-logo.png" alt="Paris" width="50" height="50"></span>
    <span class="b">Hello all</span>
  </div>

  <div class="profile-top-section">
    <h4>My recordings</h4>
    <ul class="top-ul">
      <li>River</li>
      <li>City</li>
      <li>Mountains</li>
      <li>Sea</li>
    </ul>
  </div>

  <div class="profile-bot-section">
    <h4>Favorites</h4>
    <ul class="bot-ul">
      <li>River</li>
      <li>City</li>
      <li>Mountains</li>
      <li>Sea</li>
      <li>City</li>
    </ul>
  </div>
  <div class="whiteSpace"></div>
</div>
