<!--<div class="custom-control custom-switch">-->
<!--  <input routerLink="/mapview"  type="checkbox" class="custom-control-input" id="customSwitch1">-->
<!--  <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>-->
<!--</div>-->

<app-switch [switchText]="mapview"></app-switch>

<div ngbDropdown class="d-inline-block" *ngIf="popularPosts">
  <button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>Filter on popular hashtag</button>
  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
    <button ngbDropdownItem (click)="getPostByTheme(popularPosts[0][0])">1.{{popularPosts[0][0]}}</button>
    <button ngbDropdownItem (click)="getPostByTheme(popularPosts[1][0])">2.{{popularPosts[1][0]}}</button>
    <button ngbDropdownItem (click)="getPostByTheme(popularPosts[2][0])">3.{{popularPosts[2][0]}}</button>
    <button ngbDropdownItem (click)="getPostByTheme(popularPosts[3][0])">4.{{popularPosts[3][0]}}</button>
  </div>
</div>
<div class="allPosts">
<div *ngFor="let post of posts;">
  <app-recording-post [audioPost]="post"></app-recording-post>
</div>
  <div style="height: 140px"></div>
</div>


