<div class="footer">
  <span class="dot"></span>
  <img routerLink="/rec-done" class="footer-rec-button" src="./assets/img/rec-button.png" alt="recording button">

  <div class="onClickWrapper">
    <ul class="footer-item">
      <li><a class="menu-close" routerLink="feedview"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li><a href="#"> home </a></li>
    </ul>

    <ul class="footer-item">
      <li><a class="menu-close" routerLink="./profile"><i class="fa fa-user" aria-hidden="true"></i></a></li>
      <li><a href="#"> Profile </a></li>
    </ul>

    <ul class="footer-item">
      <li><a class="menu-close" routerLink="./profile-settings"><i class="fa bi-gear-fill" aria-hidden="true"></i></a>
      </li>
      <li><a href="#"> Settings </a></li>
    </ul>

    <ul class="footer-item">
      <li><a class="menu-close" routerLink="login"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
      <li><a href="#"> login </a></li>
    </ul>

<!--    <ul class="footer-item">-->
<!--      <li><a class="menu-close" routerLink="register"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>-->
<!--      <li><a href="#"> signup </a></li>-->
<!--    </ul>-->

  </div>
</div>
<i class="fa-solid fa-house"></i>
