<!--<div class="footer">-->
  <div class="footer" *ngIf="router.url !== '/' && router.url !== '/login' && router.url !== '/register'
  && router.url !== '/admin' && router.url !== '/admin/location' && router.url !== '/admin/users'">
<!--  <span class="dot"></span>-->
  <div *ngIf="showRecordBtn">
<!--    <a><img routerLink="/rec-done"  class="footer-rec-button" id="footerLeg" [src]="value" alt="recording button" (click)="startRecording()"></a>-->
  </div>

<!--  <button type="button" (click)="stopRecording()" id="eye" class="btn btn-default"><i class="fa fa-eye"></i> </button>-->


  <div class="onClickWrapper">
<!--    <a class="menu-close" (click)="showRecordBtn = true"  routerLink="feedview"><i class="fa fa-home i-shadow" aria-hidden="true"></i></a>-->


      <a (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording"> Start Recording </a>
      <a (click)="stopRecording()" class="btn btn-danger" *ngIf="recording"> Stop Recording </a>
      <div class="clearfix"></div>
      <audio controls="" *ngIf="url">
        <source [src]="sanitize(url)" type="audio/wav">
      </audio>

<!--    <a class="menu-close" (click)="showRecordBtn = false" routerLink="./profile"><i class="fa fa-user i-shadow" aria-hidden="true"></i></a>-->
<!--    <a class="menu-close" (click)="showRecordBtn = false" routerLink="./profile-settings"><i class="fa bi-gear-fill" aria-hidden="true"></i></a>-->
<!--    <a class="menu-close" (click)="showRecordBtn = false" routerLink="login"><i class="fa fa-sign-in i-shadow" aria-hidden="true"></i></a>-->

    <a class="menu-close" *ngIf="auth.isLoggedIn()" (click)="showRecordBtn = false" routerLink="./profile"><i class="fa fa-user i-shadow" aria-hidden="true"></i></a>
    <a class="menu-close" *ngIf="auth.isLoggedIn()" (click)="showRecordBtn = false" routerLink="./profile-settings"><i class="fa bi-gear-fill" aria-hidden="true"></i></a>
    <a class="menu-close" *ngIf="auth.isLoggedIn()" (click)="showRecordBtn = false; logOut()" routerLink="/"><i class="fa fa-sign-in i-shadow" aria-hidden="true"></i></a>


    <a class="menu-close" (click)="showRecordBtn = false" routerLink="register"><i class="fa fa-user-plus i-shadow" aria-hidden="true"></i></a>


  </div>

<!--  <div class="onClickWrapper">-->
<!--    <ul class="footer-item">-->
<!--      <li><a class="menu-close" routerLink="feedview"><i class="fa fa-home" aria-hidden="true"></i></a></li>-->
<!--&lt;!&ndash;      <li><a href="#"> home </a></li>&ndash;&gt;-->
<!--    </ul>-->

<!--    <ul class="footer-item">-->
<!--      <li><a class="menu-close" routerLink="./profile"><i class="fa fa-user" aria-hidden="true"></i></a></li>-->
<!--&lt;!&ndash;      <li><a href="#"> Profile </a></li>&ndash;&gt;-->
<!--    </ul>-->

<!--    <ul class="footer-item">-->
<!--      <li><a class="menu-close" routerLink="./profile-settings"><i class="fa bi-gear-fill" aria-hidden="true"></i></a>-->
<!--      </li>-->
<!--&lt;!&ndash;      <li><a href="#"> Settings </a></li>&ndash;&gt;-->
<!--    </ul>-->

<!--    <ul class="footer-item">-->
<!--      <li><a class="menu-close" routerLink="login"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>-->
<!--&lt;!&ndash;      <li><a href="#"> login </a></li>&ndash;&gt;-->
<!--    </ul>-->

<!--&lt;!&ndash;    <ul class="footer-item">&ndash;&gt;-->
<!--&lt;!&ndash;      <li><a class="menu-close" routerLink="register"><i class="fa fa-user-plus" aria-hidden="true"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li><a href="#"> signup </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->

<!--  </div>-->
</div>


